body {
    background-color: lightblue; 
    font-family: Arial, sans-serif;
}


#para-bold {
    font-weight: bold;
}

.para-italique {
    font-style: italic;
}

.item-highlight {
    color: rgb(64, 64, 221);
}

[class^="a"] {
    background-color: yellow;
}

[class$="date"] {
    background-color: rgb(51, 212, 51);
}
 
body {display: flex;
    flex-direction: column;
        }
footer {
    background: #f5c5c5;
    text-align: center;
        }
        html, body {
            height: 100%;
        }